body {
    margin: 1%;
    padding: 5%;
    font-size: 100%;
    background-color: blue;
}

h1 {
    font-size: 200%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 150%;
    font-style: semibold;
}

img.banner {
    width: 25%;
    border: 7px dotted #ae78f8;
    padding: 25px;
    border-radius: 20px;
    margin: 10px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

li.highlight p {
    text-transform: uppercase;
    background-color: #00ffff;
}

